
li.done {
    font-style: italic;
    text-decoration: line-through;
}

.board {
    background-color: #182;
    border-radius: 150px;
    padding: 50px 80px;
    border-width: 10px;
    border-style: solid;
    border-color: #330;
}

.game-room {
    /*background-color: #031;*/
    padding: 40px;
    background: linear-gradient(to bottom right, #053, #035);
}

.street {
    display: inline-block;
    padding: 15px;
}

.street-name {
    text-align: center;
    font-weight: bold;
    /*color: white;*/
    padding-bottom: 20px;
}

.player-seat {
    display: inline-block;
    padding: 20px 70px;
}

.player-name {
    text-align: center;
    color: white;
    padding: 5px;
}

.card {
    border-radius: 7px;
    font-weight: bold;
    padding: 14px 10px;
    display: inline-block;
    margin: 3px;
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.card.clickable {
    cursor: pointer;
    transition: background-color 0.2s ease;

    transition: transform 0.2s ease;
    transform: scale(1);
}

.card.clickable:hover {
    cursor: pointer;
    /*background-color: #ccc;*/

    filter: saturate(150%);

    transition: background-color 0.3s ease;

    transform: scale(1.2);
    transition: transform 0.3s ease;
    
    /*transition: margin 0.3s ease;
    transition: height 0.3s ease;
    transition: line-height 0.3s ease;
    transition: width 0.3s ease;

    margin: 0px;
    height: 36px;
    line-height: 36px;
    width: 36px;*/
    /*animation-name: color_change;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-direction: alternate;*/
}

.hearts {
    background-color: #f44;
    
}

.diamonds {
    background-color: #38f;
}

.clubs {
    background-color: #3c5;
}

.spades {
    background-color: #383838;
}

.unknown {
    color: #000;
    background-color: #fff;
    border-color: #333;
    border-style: solid;
}